.bg_service{
    position: relative;
    background: url(../../assets/photo.png);
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
}

.bg_service .service-content-title{
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    text-align: center;
    cursor: pointer;
}

.bg_service .service-content-title h2{
    font-size: 60px;
    text-transform: uppercase;
    color: #ffffff;
}

.bg_service .service-content-title a{
    text-decoration: none;
    color: #000;
    font-size: 18px;
}


.services .our-services{
    margin: 5rem 0 5rem 0;
    cursor: pointer;
}

.services .our-services p{
    font-size: 30px;
    color: #86bb17;
    text-transform: uppercase;
}


.services .services-content .card{
    overflow: hidden;
    cursor: pointer;
    color: #000;
    padding: 20px;
}
.services .services-content .card:hover{
    overflow: hidden;
    cursor: pointer;
    color: #ffffff !important;
    background-color: #86bb17;
    padding: 20px;
    
}
.services .services-content .card svg{
    font-size: 50px;
    color: #86bb17;
}
.services .services-content .card:hover svg{
    font-size: 50px;
    color: #ffffff;
}

.services .services-content .card h2{
    font-size: 20px;
    margin: .9rem 0 0.9rem 0;
}

.services .services-content .card p{
    opacity: .5;
}

/* header slice */

.header-slice .our-clients {
    cursor: pointer;
   
}

.header-slice .our-clients p{
    color: #17a8bb;
    text-transform: uppercase;
    font-size: 26px;
    font-weight: 700;
}

.header-slice .our-clients h1{
    color: #434040;
   
}

.header-slice .slider-image img{
    border-radius: 50%;
    width: 80px;
    height: 80px;
    cursor: pointer;
}

.header-slice .slider-tab h2{
    font-size: 20px;
    color: #095d84;
    cursor: pointer;
}

.header-slice .slider-tab p{
    text-transform: uppercase;
    opacity: .7;
    cursor: pointer;
}

.header-slice .lead-text{
    opacity: .7;
}

.header-slice .card{
    cursor: pointer;
}

@media (max-width:768px) {
    .header-slice .our-clients h1{
        color: #434040;
        font-size: 28px;
    }
}